.footer{
  padding: 3rem;
  display: flex;
  font-size: .8rem;
  align-items: center;
  background-color: black;
  color:white;
  opacity: 60%;
  width:100%
}

.bottomNav{
  padding-left: 50%;
  display: flex;
  flex-direction: column;
}

ul.bottomNav{
  list-style-type: circle;
}
