html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fff;
  max-height: auto;
  min-height: 100vh


}

a {
  color: inherit;
  text-decoration: none;
}

p{
  color: #222
}

* {
  box-sizing: border-box;
}

body.dark-theme {
  background-color: #121212;
  color: #eee;
}

body.dark-theme p{
  color: #eee;
}
