.topnav {
  display:block;
  min-width: 100%;
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: .3s;
  border-right: 1px solid white ;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  outline: none;
  color: white;
  padding: 5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: default;
}

/* Style the dropdown content (hidden by default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  overflow: hidden;

}

/* Style the links inside the dropdown */
.dropdownContent a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  overflow:hidden;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.dropdown:hover{
  background-color: #555;
  color: white;
  transition:.1s;
}

/* Add a grey background to dropdown links on hover */
.dropdownContent a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdownContent {
  display: block;
}


.lightHeader {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: gray;
  color: white;
  width: 100%;
}

.darkHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #050505;
}


.borderCircle {
  border-radius: 9999px;
}

.heading2Xl {
  font-size: max(2vw,24px);
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}
