.container {
}

.header {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: black;
  color: white;
  width: 100%
}


.backToHome {
  margin: 3rem 0 0;
  padding: 3rem;
}
.main{
  display:flex;
  margin: 3rem auto 6rem;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  padding: 0 1rem;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
  color: ;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}
.links{
  padding-top: 10px;
  font-size: max(2vw,24px);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  transition:.5s;
}

.links a:hover{
  transition:.5s;
  color:grey;
}
.hidden{
  display:none;
  transition: .5s;
}

.navbar{
  display: flex;
  align-content: center;
  transition: .5s;

}
