.heading2Xl {
  font-size: max(2rem,30px);
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: max(1.7rem, 28px);
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: max(1.5rem,26px);
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: max(1rem, 24px);
  line-height: 1.5;
}


.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: circle;
  padding: 0;
  margin: 0;
}

.listItem {
  font-size:1.2rem;
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.centerHeading{
  font-size: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.links{
  width:50%;
  display: flex;
  font-size: max(1.3vw, 12px);
  line-height: 1.1;
  margin: 1rem 0;
  justify-content: space-between;
}
